.propertyCard__wrapper__desktop {
  width: 1012px;
  height: 260px;
  background: #FFFFFF;
  box-shadow: 0px 0px 1px rgba(38, 38, 55, 0.32), 0px 1px 1px rgba(38, 38, 55, 0.24);
  border-radius: 8px;

  .propertyCard__infoWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 90%;

    .propertyCard__infoWrapper__left,
    .propertyCard__infoWrapper__right {
      height: 100%;
      width: 50%;
    }

    .propertyCard__infoWrapper__left__image {
      width: 267px;
      height: 186px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.propertyCard__wrapper__mobile {
  width: 343px;
  height: 425px;
  background: #FFFFFF;
  box-shadow: 0px 0px 1px rgba(38, 38, 55, 0.32), 0px 1px 1px rgba(38, 38, 55, 0.24);
  border-radius: 8px;

  .propertyCard__infoWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    height: 90%;

    .propertyCard__infoWrapper__left,
    .propertyCard__infoWrapper__right {
      height: 100%;
      width: 50%;
    }
  }
}
