.propertyCard__features__desktop {
  border-radius: 0 8px 8px 0;
  padding: 1.5rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .propertyCard__features__top {
    display: flex;
    width: 100%;
    justify-content: space-between;

    p {
      margin: 0;
      padding: 0;
    }

    .propertyCard__features__top__address {
      font-size: 15px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0.10000000149011612px;
      text-align: left;
      color: #11828D;
    }
  }

  .propertyCard__features__mid {
    p {
      margin: 0.75rem;
      padding: 0;
    }
  }

  .propertyCard__features__bottom {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
}

.propertyCard__features__mobile {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem 0.5rem 1rem;
  .propertyCard__features__mobile__left {};
  .propertyCard__features__mobile__right {};
}